@import url("reset.css");

:root {
	--eu-blue: #033495;
	--sky-blue: #6a9cfd;
	--cloud-blue: #8cb0f7;
	--cloud-gray: #82a0bc;
	--star-yellow: #edae49;
	--text-black: #0c120c;
	--text-white: #eff1f3;
}

body {
	padding: 0 5vw;
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-size: 1em;
	font-style: normal;
	background-color: var(--sky-blue);
}
